parameters:
	ignoreErrors:
		-
			message: "#^Call to method addSqlData\\(\\) on an unknown class TYPO3\\\\CMS\\\\Core\\\\Database\\\\Event\\\\AlterTableDefinitionStatementsEvent\\.$#"
			count: 1
			path: ../Classes/Service/TableDefinitionEventListener.php

		-
			message: "#^Parameter \\$event of method AndreasWolf\\\\Uuid\\\\Service\\\\TableDefinitionEventListener\\:\\:addUuidFieldsToDatabaseSchema\\(\\) has invalid typehint type TYPO3\\\\CMS\\\\Core\\\\Database\\\\Event\\\\AlterTableDefinitionStatementsEvent\\.$#"
			count: 1
			path: ../Classes/Service/TableDefinitionEventListener.php

