includes:
  - ../.Build/vendor/saschaegerer/phpstan-typo3/extension.neon
  - ../.Build/vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
  level: 8
  paths:
    - ../Classes/
    - ../Tests/
  excludePaths:
    - ../Tests/Functional/ImportXmlDataSet.php

  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    - message: '#Variable \$_EXTKEY might not be defined.#'
      path: */ext_emconf.php

  # do not turn this off; otherwise fixed PhpStan errors will not lead to reports (and we should update the baseline once
  # errors were fixed)
  reportUnmatchedIgnoredErrors: true
